html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", "Noto Sans TC", sans-serif;
  color: #333333;
  background-color: #f6f7f8;
}
header {
  height: 30px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
}
main {
  //   outline: 2px solid red;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  section {
    margin: 20px 0;
  }

  .section-one {
    text-align: center;
    img {
      text-align: center;
      width: 170px;
      height: 170px;
      border-radius: 50%;
      box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
    }
    div.icon {
      a {
        text-decoration: none;
        color: #999999;
        font-size: 24px;
        margin: 10px;
        &:hover {
          color: #333333;
        }
      }
    }
  }
  .section-two {
    div.skill {
      display: flex;

      flex-wrap: wrap;
      justify-content: space-around;
      div {
        min-width: 240px;
        border-top: 1px solid #999999;
        width: 30%;
      }
    }
  }
  .section-three {
    div.experience {
      display: flex;
      flex-wrap: wrap;
      border-bottom: 1px solid #999999;
      div.job {
        min-width: 300px;
      }
    }
  }
}
